@font-face {
  font-family: "Century";
  src: url("./fonts\century-expanded-regular_a00wT\Century Expanded Regular.otf");
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/Futura/futura medium bt.ttf");
}

main {
 height:100vh;
}



.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    margin-left: 200px;

}

.introduction p {
  margin:auto;
}

#hello_intro {
  font-family: "Futura", "Arial";
}

#name {
    font-size: 120px;
    font-family:"Futura", "Century", "Arial";
    font-weight: bold;
  

}

#name span.highlight {
  color: #063970
  
}
#hello_intro {
  font-size: 18px;
}

#role {
  font-size:24px;
}

#role span.generic_role {
font-style: italic;
}

span.highlight {
    color:#edb722;
    font-weight: bold;
  }
  
 
.skill_list_home {
  font-size:22px;
  
}  

.skill_list_home span.highlight_skill {
  font-weight: bold;

}

.highlight_skill {
  color: #063970
}

.button-link {
  margin:50px;
  padding: 20px 40px; /* Change to desired padding */
  box-shadow: 5px 5px 10px #555;

  display: inline-block;
  
  
  background-color: #edb722; /* Change to desired color */


  color: #fff; /* Change to desired color */
  
  text-decoration: none;
  border-radius: 50px; /* Change to desired border radius */
  border: none;
  cursor: pointer;
  
  text-decoration: none;

  font-family: "Arial";
  font-size: 28px;
  color:black;
  font-weight: bold; /* Change to desired font weight */
  /* transition: background-color 0.8s ease; */
  background-image: linear-gradient(to right, #edb722 50%, #0069d9 50%); /* Set gradient background */
  background-size: 200% 100%; /* Set background size to double the width */
  transition: background-position 0.3s ease;

}

.button-link:hover {
  background-position: -100% 0; /* Animate background position to create transition effect */
  color:white;
  /* background: #0069d9; */
}

#demo_button {
 margin-left:0px;

}

@media screen and (max-width: 800px) {
    

    
    .introduction {
      display: inline-flex;
      height:400px;
    margin:0px;
      
    }
    
    .introduction p {
      margin:auto;
    }
    
    #hello_intro {
      font-family: "Futura", "Arial";
    }
    
    #name {
        font-size: 36px;
        font-family:"Futura", "Century", "Arial";
        font-weight: bold;
      
    
    }
    
    #name span.highlight {
      color: #063970
      
    }
    #hello_intro {
      font-size: 12px;
    }
    
    #role {
      font-size:18px;
    }
    
    #role span.generic_role {
    font-style: italic;
    }
    
    span.highlight {
        color:#edb722;
        font-weight: bold;
      }
      
  }
   