
main p {
  font-size:24px;
}
.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-around;
  padding:20px;
  margin:0px;
}


.image-grid img {
  height: 180px;
  width: 240px;
  object-fit: cover;
  /* border: 3px solid #edb722; */
  
  border-radius: 50px;
  padding:20px;
  margin-bottom: 0px;
}



.project-box {
  margin: 40px 100px 60px 100px;

  padding:30px;
  border: 3px solid gray;
  border-radius: 50px;

}

#minion_face {
  object-fit: contain;
}

.image-grid p {
  text-align: center;

}

.image-grid img:hover {
  transform: scale(1.1); /* increases the size of the image by 20% */
  box-shadow: 5px 5px 10px gray; /* increases the shadow size and opacity */

} 


.image-grid img:active {
  box-shadow: 0 0 10px rgba(0, 252, 25, 0.3);
}
.box-shadow img{
  box-shadow: 5px 5px 10px #555;
}



.span_button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}
.span_button a{
  
  width:fit-content
  width: -moz-fit-content;
}

.button-link {
  
  background-color: #007bff; /* Change to desired color */
  color: #fff; /* Change to desired color */
  padding: 10px 20px; /* Change to desired padding */
  text-decoration: none;
  border-radius: 20px; /* Change to desired border radius */
  border: none;
  cursor: pointer;
  font-size: 24px; /* Change to desired font size */
  font-weight: bold; /* Change to desired font weight */
  text-align: center;
}

.button-link:hover {
  background-color: #edb722; /* Change to desired hover color */
}

.hire_me {
  text-align: center;
}

.hire-button-link {
  width: 150px; /* Change to desired width */
  margin: 50px auto; /* Center the button using auto margin */

  padding: 20px 40px; /* Change to desired padding */
  box-shadow: 5px 5px 10px #555;

  display: inline-block;
  
  background-color: #edb722; /* Change to desired color */
  transition: background-color .8s ease; /* Add transition property */


  color: #fff; /* Change to desired color */
  
  text-decoration: none;
  border-radius: 50px; /* Change to desired border radius */
  border: none;
  cursor: pointer;
  
  font-weight: bold; /* Change to desired font weight */
  text-align: center;

  text-decoration: none;

  font-family: "Arial";
  font-size: 28px;
  color:black;
  font-weight: bold;
}

.hire-button-link:hover {
  color:white;
  background: #0069d9;
}

@media screen and (max-width: 800px){

  main p {
    font-size:24px;
  }
  .image-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  

  .image-grid img {
    height: 90px;
    width: 120px;
    object-fit: cover;
    /* border: 3px solid #edb722; */
    
    border-radius: 35px;
   
    padding:10px;
    margin-bottom: 0px;
  }
  
  
  
  .project-box {
    margin-top:0px;

    margin-bottom:40px;
    padding:10px;
    border: 3px solid gray;
    border-radius: 20px;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


  }
  
  #minion_face {
    object-fit: contain;
  }
  
  .image-grid p {
    text-align: center;
  
  }
  
  .image-grid img:hover {
    transform: scale(1.1); /* increases the size of the image by 20% */
    box-shadow: 5px 5px 10px gray; /* increases the shadow size and opacity */
  
  } 
  
  
  .image-grid img:active {
    box-shadow: 0 0 10px rgba(0, 252, 25, 0.3);
  }
  .box-shadow img{
    box-shadow: 5px 5px 10px #555;
  }
  
  
  
  .span_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:200px;
  
  }

  .button-link {
    
    background-color: #007bff; /* Change to desired color */
    color: #fff; /* Change to desired color */
    padding: 10px 20px; /* Change to desired padding */
    text-decoration: none;
    border-radius: 20px; /* Change to desired border radius */
    border: none;
    cursor: pointer;
    font-size: 16px; /* Change to desired font size */
    font-weight: bold; /* Change to desired font weight */
    text-align: center;
  }
  
  .button-link:hover {
    background-color: #edb722; /* Change to desired hover color */
  }
}