main {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 5vw;

}

#blade {
    height: 200px;
    width: auto;
    border: 5px solid black;
    padding: 10px;
    box-shadow: 5px 5px 10px #555;
    margin-left: 50px;
  }

img:hover {
    transform: scale(1.15); /* increases the size of the image by 20% */
    box-shadow: 0 0 10px rgba(34, 249, 0, 0.3); /* increases the shadow size and opacity */
  
  } 
  
img:active {
    box-shadow: 0 0 10px rgba(0, 252, 25, 0.3);
  }


  #view_window {
    width: 40vw;
    height: 60vh;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
  }

  section {
    max-width: 700px;
    
}


@media screen and (max-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 0px;
  
  }
  
  #blade {
      height: 80px;
      width: auto;
      border: 5px solid black;
      padding: 10px;
      box-shadow: 5px 5px 10px #555;
      margin-left: 10px;
    }
  
  img:hover {
      transform: scale(1.15); /* increases the size of the image by 20% */
      box-shadow: 0 0 10px rgba(34, 249, 0, 0.3); /* increases the shadow size and opacity */
    
    } 
    
  img:active {
      box-shadow: 0 0 10px rgba(0, 252, 25, 0.3);
    }
  
  
    #view_window {
      width: 80vw;
      height: 60vh;
      padding: 10px;
      margin: 10px;
      border: 5px solid black;
    }
  
    section {
      max-width: 350px;
      
  }
  
}