@font-face {
    font-family: "Garamond";
    src: url("./fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
    
  }
  @font-face {
    font-family: "Garamond";
    src: url("./fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf");
    
  }
  
  @font-face {
    font-family: "Bodoni";
    src: url("./fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf");
  }
  
  @font-face {
    font-family: "Bodoni";
    src: url("./fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf");
  }
  
  @font-face {
    font-family: "Century";
    src: url("./fonts\century-expanded-regular_a00wT\Century Expanded Regular.otf");
  }
  
  @font-face {
    font-family: "Futura";
    src: url("./fonts/Futura/futura medium bt.ttf");
  }
  
  
  main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding:100px;
  }
  
  
  
  .box-shadow img{
      box-shadow: 5px 5px 10px #555;
      width:200px;
      border: 5px solid black;
      padding: 10px;
      margin: 10px 30px 10px 80px;
      
    }
  
  .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 0vw;
  }

  .first-row > * {
    margin-bottom: 100px; /* add margin between first row elements */
  }
  
  .first-row > :nth-child(n+4) {
    margin-top: 100px; /* add margin between second row elements */
  }

  .container > div {
   /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    
  
  }
  
  .skills_list {
    width:auto;
    
    background-color: #edb722;
    border-radius: 20px;
    
  }

  .skills_list:hover {
    background-color: lightslategray;
  }
  .skills_list ul {
    list-style: none;
    
  }
  
  .skills_list li {
    margin-top:10px;
    color:white;
    padding:10px;
    font-size: 20px;
  }
  
  #tech_skill_title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding:30px;
    margin-right:30px;
    text-align: center;
    text-decoration: bold;
  }

  
  .tech_image img{
    border-radius: 50%;
    margin-left:100px;
    
  }
  h2 {
    color: #555;
  
  }
  
  .link_story {
    margin-top:10vh;
    flex-basis: 100%;
    margin-top: 20px;
    text-align: left;
  }
  .link_story ul {
    list-style: none;
    
    
  }
  
  
  .button-link {
    display: inline-block;
    background-color: #edb722; /* Change to desired color */
    color: #fff; /* Change to desired color */
    padding: 10px 20px; /* Change to desired padding */
    text-decoration: none;
    border-radius: 50px; /* Change to desired border radius */
    border: none;
    cursor: pointer;
    font-size: 16px; /* Change to desired font size */
    font-weight: bold; /* Change to desired font weight */
    text-align: center;
  
    text-decoration: none;
  
    font-family: "Garamond";
    font-size: 32px;
    color:white;
    font-weight: bold;
  }
  
  .button-link:hover {
    background-color: #0069d9; /* Change to desired hover color */
  }
  /* .link_story {
    margin-top:10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    background-color: rgb(164, 198, 218);
    
  } */


  @media screen and (max-width: 1400px) {

    
  main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding:0px;
    margin:0px;
    width:100%
  }
  
  .tech_image {
    display: none;
    
  }
  
 
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height:100%;
    margin-left: 0px;
   padding: 0px;
    
  }
 
  
  section {
      width:100%;
      padding:0px;
  margin:0px;
  }
  .skills_list {
    width:auto;
    
  }
  .skills_list ul {
    list-style: none;
  }
  
  .skills_list li {
    margin: 10px;
  
  }
  
  #tech_skill_title {
    font-size: 28px;
    font-weight: bold;
    color: #edb722;
    
  }

  
  .tech_image img{
    display:none;
    border-radius: 50%;
    width:150px;
  }
  h2 {
    color: #555;
  
  }
  
  .link_story {
    margin-top:20px;
  
  }
  .link_story ul {
    list-style: none;
    
    
  }
  
  
  .button-link {
    width:250px;

    display: flex;
    background-color: #edb722; /* Change to desired color */
    color: #fff; /* Change to desired color */
    padding: 10px 20px; /* Change to desired padding */

    border-radius: 50px; /* Change to desired border radius */
    border: none;
    cursor: pointer;
 

    text-align: center;
  
    text-decoration: none;
  
    font-family: "Garamond";
    font-size: 28px;
    color:white;
    font-weight: bold;
  }
  
  .button-link:hover {
    background-color: #0069d9; /* Change to desired hover color */
  }
  }